@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Caudex&family=Lato&family=Quicksand:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #fbdb89;
  --color2: rgb(244, 138, 130);
  /* --header-font: 'Ranchers', sans-serif; */
  --shadow: 0 4px 8px 0 rgb(243, 239, 239), 0 6px 20px rgb(243, 239, 239);
}

* {
  box-sizing: border-box;
  font-family: Poppins;
}
.App {
  background: linear-gradient(to right bottom, var(--color1), var(--color2));
}

.bg {
  background: whitesmoke;
}

.glass21 {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: opacity(100px);
  border: 2px solid transparent;
  background-size: contain;
}

.glass22 {
  color: rgba(255, 255, 255, 0.5);
  backdrop-filter: opacity(100px);
  border: 2px solid transparent;
}

.glass221 {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: opacity(100px);
  border: 2px solid transparent;
}

.btn {
  background: var(--color1);
}
circle {
  fill: var(--color2);
}
